@model Weather.Model.Domain.Forecast

<div class="forecast">
    <h4>@Model.LocationName, @Model.Location.PlaceType, @Model.Location.State </h4>
    <span>Tidsperiode: @Model.TimeFrom.ToShortTimeString() - @Model.TimeTo.ToShortTimeString()</span>
    <p>
        <span id="temperature">
            @Model.Temperature&deg;
        </span>
        <span>
            @Html.Image(Model.ImageUrl, Model.SymbolName)
        </span>
        <span id="presipitation">
            @Model.PresipitationMin - @Model.PresipitationMax
        </span>
        <span class="right">
            @Html.ActionLink("Tilbake til Weather", "Index")
        </span>        
    </p>
</div>
